table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  text-align: center;
}
th, td {
  width: 135px;
  height: 45px;
}
th {
  color: #fff;
  background-color: #333;
}
.up-btn {
  position: relative;
  left: 20px;
  top: -7px;
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: 10px solid #fff;
  border-top: none;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.down-btn {
  position: relative;
  left: 0px;
  bottom: -7px;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 10px solid #fff;
  border-bottom: none;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
